<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>customercontroller.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>categorycontroller.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllCategory</servlet-name>
        <servlet-class>categorycontroller.DisplayAllCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductImage</servlet-name>
        <servlet-class>productcontroller.DisplayProductImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>productcontroller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>productcontroller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>customercontroller.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>categorycontroller.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>categorycontroller.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastUpdateCategory</servlet-name>
        <servlet-class>categorycontroller.LastUpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>productcontroller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastUpdateProduct</servlet-name>
        <servlet-class>productcontroller.LastUpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>controller.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartitem</servlet-name>
        <servlet-class>cartitemcontroller.AddCartitem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartitem</servlet-name>
        <servlet-class>cartitemcontroller.DeleteCartitem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllCategory</servlet-name>
        <url-pattern>/DisplayAllCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductImage</servlet-name>
        <url-pattern>/DisplayProductImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/UpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastUpdateCategory</servlet-name>
        <url-pattern>/LastUpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastUpdateProduct</servlet-name>
        <url-pattern>/LastUpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartitem</servlet-name>
        <url-pattern>/AddCartitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartitem</servlet-name>
        <url-pattern>/DeleteCartitem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
